@tailwind base;
@tailwind components;
@tailwind utilities;

// CORE
@import "core/breakpoints";
@import "core/colors";
@import "core/typography";
@import "core/utilities";

// PARTIALS
@import "partials/header";
@import "partials/footer";

html {
  font-size: 16px;
  scroll-behavior: smooth;
  color: $white;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 4px;
  scrollbar-color: #70ebc6 #a6ff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #70ebc6;
  border-radius: 999px;
}

.blink-animation {
  position: relative;

  &::after {
    content: "|";
    padding-bottom: 4px;
    margin-right: 10px;

    animation: blink 1s step-start infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

// all grid templates rows with 1fr
.grid-rows-1fr {
  grid-template-rows: repeat(4, 1fr);
  
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Ubuntu', sans-serif;
