@tailwind base;
@tailwind components;
@tailwind utilities;

// CORE
@import "core/breakpoints";
@import "core/colors";
@import "core/typography";
@import "core/utilities";

// PARTIALS
@import "partials/header";
@import "partials/footer";

html {
  font-size: 16px;
  scroll-behavior: smooth;
  color: $white;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 4px;
  scrollbar-color: #88c139 #a6ff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #88c139;
  border-radius: 999px;
}

.blink-animation {
  position: relative;

  &::after {
    content: "|";
    padding-bottom: 4px;
    margin-right: 10px;

    animation: blink 1s step-start infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.title {
  @apply text-[2rem] lg:text-[2.25rem];
}

.semititle {
  @apply text-[1.5rem];
}

.text {
  @apply text-[1.125rem] lg:text-[1.3906rem];
}

.element {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease-in-out;

  &.is-visible {
    transform: translateY(0);
    opacity: 1;
  }
}

.bg-home {
  background-image: url(/img/hero-party-background-p.webp);

  @include md {
    background-image: url(/img/hero-party-background.webp);
  }
}



// font-family: 'Open Sans', sans-serif;
// font-family: 'Ubuntu', sans-serif;
